<script setup lang="ts">
import { ref } from "vue";

const first = ref(0);
const sec = ref(0);

function first2() {
  if (first.value >= 0) {
    first.value++;
    sec.value = first.value * 2;
  }
}

function sec2() {
  if (first.value > 0) {
    first.value--;
    sec.value = first.value * 2;
  }
}
</script>
<template>
  <v-row>
    <v-col>
      <div>First Component</div>
      <div>{{ first }}</div>
      <v-btn @click="first2">Increment</v-btn>
    </v-col>
    <v-col>
      <div>Second Component</div>
      <div>{{ sec }}</div>
      <v-btn @click="sec2">Decrement</v-btn>
    </v-col>
  </v-row>
</template>
