<script setup lang="ts">
import MenuCard from "@/components/MenuCard.vue";
import { useOrderStore } from "@/stores/order";
const order = useOrderStore();
</script>
<template>
  <v-navigation-drawer>
    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-folder"
        title="เมนูอาหาร"
        value="food"
        @click="order.choose(0)"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>

  <v-container v-if="order.functionChoose === 0">
    <v-row direction="horizontal" align-content="start" justify="center">
      <v-col>
        <v-container>Menu</v-container>
        <v-card class="overflow-y-auto" max-height="80vh">
          <v-container>
            <v-row no-gutters>
              <v-col v-for="n in 10" :key="n" cols="12" sm="4">
                <MenuCard
                  name="กะเพราหมูสับ"
                  src="https://i.ytimg.com/vi/MJmhXn2FpyA/maxresdefault.jpg"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-container>Order</v-container>
        <v-divider></v-divider>
        <v-list density="compact" nav>
          <v-list-subheader>Order Menu List</v-list-subheader>
          <v-container>
            <v-row no-gutters>
              <v-col>
                <v-avatar
                  image="https://i.ytimg.com/vi/MJmhXn2FpyA/maxresdefault.jpg"
                ></v-avatar>
              </v-col>
              <v-col cols="4">
                <div style="font-size: 12px">กะเพราหมูสับ</div>
                <div style="font-size: 10px; color: #5f9ea0">qty: 4</div>
                <div style="font-size: 10px; color: #5f9ea0">price/pcs: 50</div>
              </v-col>
              <v-col cols="false">
                <div style="font-size: 12px">200.0</div>
              </v-col>
              <v-btn width="5">-</v-btn>
              <v-btn width="5">+</v-btn>
            </v-row>
          </v-container>

          <v-divider></v-divider>
          <v-list-item title="Tax" value="starred">14</v-list-item>
          <v-divider></v-divider>
          <v-list-item title="Totals" value="starred">214</v-list-item>
        </v-list>

        <v-spacer></v-spacer>
        <div class="text-xs-center">
          <v-btn width="184" color="#36A60C">Confirm</v-btn>
          <v-btn width="184" color="#E9330C">Cancel</v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}

</style>
